* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.title {
    width: 100%;
    text-align: center;
}
#footer {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}
#footer > a {
    color: black;
    font-weight: 600;
}

.row {
    margin-top: 10vh;
}
.colonna{
    float: left;
    width: 50%;
}
.colonna > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(151, 151, 151);
}

#product__name {
    margin-top: 50px;
}
#product__price {
    color: rgb(255, 87, 87);
}
#product__caption {
    max-width: 60%;
}

#f1 > p {
    font-weight: 600;
}
#f1 > label {
    margin-right: 20px;
}

#custom {
    text-decoration: underline;
}

#f2, #f3, #f4 {
    margin-bottom: 15px;
}
#white:after {
    background-color: red;
}















.row:after {
    content: "";
    display: table;
    clear: both;
}