* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.title {
    width: 100%;
    text-align: center;
}
#footer {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}
#footer > a {
    color: black;
    font-weight: 600;
}

.row {
    margin-top: 10vh;
}
.colonna{
    float: left;
    width: 50%;
}
.colonna-subdiv > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(151, 151, 151);
}
.colonna-subdiv {
    position: relative;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#displayText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

#product__name {
    margin-top: 50px;
}
#product__price {
    color: rgb(255, 87, 87);
}
#product__caption {
    max-width: 60%;
}

.customization-settings {
    display: none;
}

#f1 > p {
    font-weight: 600;
}
#f1 > label {
    margin-right: 20px;
}

#custom {
    text-decoration: underline;
}

#f2, #f3, #f4 {
    margin-bottom: 15px;
}
#f2 > input,label {
    vertical-align: middle;
}
#f4 > input,label {
    vertical-align: middle;
}
#f2 > label {
    margin-right: 10px;
}
#f4 > label {
    margin-right: 10px;
}
#f3 > input {
    margin-left: 15px;
    padding: 2px;
    width: 25%;
}

.color-label {
    font-size: 12px;
}
.main-label {
    font-style: italic;
}

#preview {
    padding: 6px 22px;
    margin-top: 20px;
    background-image: linear-gradient(to right, #0063EB, #006EEC, #00BDF9);
    border: 0;
    color: #fff;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 5px;
}
#preview:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.377);
}














.row:after {
    content: "";
    display: table;
    clear: both;
}