@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --white: #ffffff;
    --blue: #1A2764;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--white);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}